/* styles.css */
:root {
  --background-color: #f4f4f4;
  --text-color: #000;
  --header-background-color: #007bff;
  --header-text-color: #fff;
  --modal-background-color: rgba(255, 255, 255, 0.95);
  --profile-icon-background-color: #007bff;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-background-color: #333;
  --header-text-color: #fff;
  --modal-background-color: rgba(50, 50, 50, 0.95);
  --profile-icon-background-color: #444;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  flex: 1;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-title svg {
  margin-right: 10px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav {
  background-color: var(--header-background-color);
  overflow: hidden;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline;
  padding: 14px 20px;
}

nav ul li button {
  background: none;
  border: none;
  color: var(--header-text-color);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav ul li button:hover {
  text-decoration: underline;
}

.toggle-switch {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch label {
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle-switch label::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 16px;
  transition: all 0.3s;
}

.toggle-switch input[type="checkbox"]:checked+label::after {
  transform: translateX(20px);
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.news-item {
  background-color: var(--modal-background-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  /* Adjust height to maintain square form */
  overflow-y: auto;
}

.news-item::-webkit-scrollbar {
  width: 8px;
}

.news-item::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.news-item::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.news-item:hover {
  transform: scale(1.05);
}

.news-item h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.news-item p {
  color: var(--text-color);
  flex-grow: 1;
}

.news-item a {
  color: var(--header-background-color);
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

/* Modal Styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: var(--modal-background-color);
  margin: 5% auto;
  padding: 30px 40px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.3s ease;
}

form input:focus {
  border-color: var(--header-background-color);
}

form button {
  padding: 12px;
  font-size: 1em;
  color: #fff;
  background-color: var(--header-background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

form button:active {
  transform: translateY(1px);
}

.profile-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--profile-icon-background-color);
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
